@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,300&family=Roboto+Condensed:ital@1&display=swap');

:root{
     
  --primary-color: #8ECAE6;
  --secondary-color:#219EBC ;
  --accent1-color:#023047;
  --accent2-color:#FFB703;
  --accent3-color:#FB8500;

  
  --heading-font: "Permanent Marker";
  --paragraph-font: "Poppins", "Roboto condensed", sans-serif;

  
  --headline-color-on-white: #023047;
  --headline-color-on-color:#FB8500 ;
  --paragraph-color-on-white:#0D3B66;
  --secondary-color: #219EBC;
  --paragraph-color-on-color:#0D3B66;
  --paragraph-background-color:#219EBC;
  --nav-link-color: #0D3B66;
  --nav-background-color:#FFB703;
  --nav-hover-link-color:#74D3AE;
  --nav-hover-background-color:#FB8500;
}
main{
    display: flex;
    flex-direction: column;
}
/* .colors{
    display: flex;
    flex-direction: column;
} */
body {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    letter-spacing: 0.2rem;
  }
  .color-h{
    background-color: var(--secondary-color);
    color: var(--headline-color-on-color);
  }
  h2 {
    text-align: center;
  }
  #chamber-main-title{
    color: var(--accent3-color);
    letter-spacing: 0.4rem;
  }

  header {
    
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    font-size: 1.6rem;
    text-align: start;
  }
  #pallete-url{
    font-family: var(--heading-font);
    font-size: 1.7rem;
    text-align: center;
    
  }
  #pallete-url-link{
    font-family: var(--paragraph-font);
    font-size: 1.4rem;
    padding-bottom: 5%;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: auto;
    height: 3em;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  .accent3{
    background-color: var(--accent3-color);
  }
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  
  .chamber-navigation  {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-background-color);
    /* line-height: 3em; */
    
    
  }
  .chamber-navigation a {
    
    min-width: 120px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
    font-size: 2rem;
  }
  .chamber-navigation a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  .chamber-navigation a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  .chamber-navigation .active{
    background-color:rgba(255, 255, 255, 0.5);
  }
  footer{
    background-color: var(--accent3-color);
    display: flex;
    flex-direction: column;
    height:auto;
    margin-top: 30%;
    
  }
  footer p{
    color: var(--paragraph-color-on-white);
    font-family: var(--paragraph-font);
    font-size: 1.3rem;
    text-align: center;

  }
  footer p:hover{
    text-decoration: underline;
  }