@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,300&family=Roboto+Condensed:ital@1&display=swap');

:root{
     
  --primary-color: #8ECAE6;
  --secondary-color:#219EBC ;
  --accent1-color:#023047;
  --accent2-color:#FFB703;
  --accent3-color:#FB8500;

  
  --heading-font: "Permanent Marker";
  --paragraph-font: "Poppins", "Roboto condensed", sans-serif;

  
  --headline-color-on-white: #023047;
  --headline-color-on-color:#FB8500 ;
  --paragraph-color-on-white:#0D3B66;
  --secondary-color: #219EBC;
  --paragraph-color-on-color:#0D3B66;
  --paragraph-background-color:#219EBC;
  --nav-link-color: #0D3B66;
  --nav-background-color:#FFB703;
  --nav-hover-link-color:#74D3AE;
  --nav-hover-background-color:#FB8500;
}
main{
  display: flex;
  flex-direction: column;
}
#discover-main{
  display: flex;
  flex-direction: column;
}
.sidebar-div{
  width: 90%;
  margin: 0 auto;
  height: auto;
  padding: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.statistics-image{
  width: 90%;
  height: auto;
}
#calendar{
  width: 90%;
  
  margin: 0 auto;
  padding: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#menu {
	font-size: 4rem;
  border-radius: 1rem;
	border: 0;
	background:var(--accent2-color);
	color: #000;
 	position:absolute;
  top: 3rem;
  right: 2rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.chamber-navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color:var(--nav-background-color);
	color:var(--nav-link-color);
  position: absolute;
  top: 7rem;
  right: 5rem;
  
}

.chamber-navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color:var(--nav-link-color);
  font-size: 1.5rem;
  transition: ease-in-out 0.5s;
}
.chamber-navigation a:hover {
	background-color:var(--nav-hover-background-color);
	color:var(--nav-hover-link-color);
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: flex;
  flex-direction: column;
}

.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
  
}

body {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    text-align: center;
    background-color: var(--primary-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    letter-spacing: 0.2rem;
  }
  #hero-container{
    transition: all 3s ease-out;
  }
  #overview-container{
    position: relative;
    text-align: center;
    background-color: #333;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    height: 900px;
    transition: all 3s ease-out;
  }
  #overview-container :hover{
    transform: scale(1.5);
  }
  .centered{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-40%, -40%);
    transition: all 3s ease-out;

}
.centered :hover{
    transform: scale(2);
}
#piriapolis-overview{
  transition: all 3s ease-out;
}
#hero-text{
  color: var(--headline-color-on-color);
  font-family: var(--heading-font);
  font-size: 1.3rem;
}
#join-call{
  z-index: 1;
  position: absolute;
  font-size: 2rem;
  font-family: var(--paragraph-font);
  
  top: 20%;
  left: 20%;
  text-decoration: none;
  background-color:var(--nav-hover-link-color);
  padding: 1%;
  border-radius: 10%;
  transition: all 3s ease-out;
}
#join-link{
  text-decoration: none;
  color: white;
}
  .color-h{
    background-color: var(--secondary-color);
    color: var(--headline-color-on-color);
  }
  h2 {
    text-align: center;
  }
  #chamber-main-title{
    color: var(--accent3-color);
    letter-spacing: 0.4rem;
  }

  header {
    position: relative;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  #icon-image{
    margin-top: 2%;
  }
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    font-size: 1.6rem;
    text-align: start;
  }
  .chamber-card{
    
    height: 320px;
    background-color:var(--nav-background-color) ;
    font-family: "roboto";
      
      
    font-size: 1.5em;
    color:var(--paragraph-color-on-color);
    align-self: center;
    border-radius: 5%;
    border: 1px solid black;
    width: 90% ;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right:auto;
  }
  .events-li{
    text-align: left;
  }
  #company-container{
    display:flex;
    flex-direction: column;
  }
  .company-card{
    font-family: var(--heading-font);
    font-size: 2rem;
    height:200px;
    width:90%;
    background-color: var(--paragraph-color-on-color);
    color: var(--accent3-color);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    margin-left: auto;
    margin-right:auto;
    border: 1px solid black;

  }
  .company-info{
    color: var(--headline-color-on-color);
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
    text-align:center;
  }

  
  #pallete-url-link{
    font-family: var(--paragraph-font);
    font-size: 1.4rem;
    padding-bottom: 5%;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  
 
  footer{
    background-color: var(--accent3-color);
    display: flex;
    flex-direction: column;
    height:auto;
    margin-top: 30%;
    
  }
  footer p{
    color: var(--paragraph-color-on-white);
    font-family: var(--paragraph-font);
    font-size: 1.3rem;
    text-align: center;

  }
  footer p:hover{
    text-decoration: underline;
  }
  @media  screen and (max-width: 800px){
    #menu{
      font-size: 2rem;
      top: 3rem;
      right: 1rem;
    }
    .centered{
      position: absolute;
      top: 60%;
      left: 25%;
      transform: translate(-5%, -5%);
      transition: all 3s ease-out;
    }
    #hero-text{
      font-size: 1rem;

    }
    #join-link{
      font-size: 1.5rem;
    }

  }
  @media  screen and (max-width: 600px){
    #hero-text{
      font-size: 0.9rem;
    }
    .centered{
      left: 27%;
    }
  }
  @media  screen and (max-width: 480px){
    #menu{
      font-size: 2rem;
      top: 1rem;
      right: 1rem;
    }
    .chamber-navigation{
      top: 4rem;
      right:2rem
    }
    .chamber-navigation a{
      font-size: 1rem;
    }
    #overview-container{
      height: auto;
      width:auto;
      margin-left: 5%;
      margin-right: 5%;
    }
    
    #overview-container :hover{
      transform: scale(1.2);
    }
    #join-link{
      font-size: 1rem;
      
    }
    .chamber-card{
      font-size: 1.5rem;
      height:fit-content;
    }
    .company-card{
      font-size: 1.5rem;

    }
    .company-info{
      font-size: 1rem;
    }
    #hero-text{
      font-size: 1rem;

    }
    .centered{
      left: 15%;
    }
    
  }