@media  screen and (min-width: 900px) {
    
  body{
      
      max-width: 1600px;
      margin: 0 auto;
      height: fit-content;
    }
    main{
      height: fit-content;
    }
    #discover-main{
      display: grid;
      grid-template-columns: 350px 1fr;
      grid-template-rows: auto auto 1fr;
    }
    #visits-information{
      grid-column: 1/2;
      grid-row: 1/2;
    }
    
    .sidebar-div{
      width: 300px;
      grid-column: 1/2;
      grid-row: 2/3;
      height: auto;
      padding: 1rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    .statistics-image{
      width: 300px;
      height: auto;
    }
    #statistics1{
      grid-row: 1/2;
    }
    #calendar{
      width: 300px;
      margin-left: 0%;
      padding-left: 0%;
      grid-column: 1/2;
      grid-row: 3/4;
      padding: 1rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    #discover-gallery{
      grid-column: 2/3;
      grid-row: 2/4;
    }
    .gallery-img{
      padding: 3rem;
      background:black;
      animation: fade 15s;
      
    }
    @keyframes fade{
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
    
  header{
      
      
      max-width: 1600px;
      align-content: center;
        
  }
  #menu {
		display: none; /* hide hamburger button */
	}
  nav{
      
      max-width: 1600px ;
      align-content: center;
      
      

  }
  .chamber-navigation{
    display: flex;
    flex-direction: row;
    background-color: var(--nav-background-color);
    position: unset;
    top: unset;
    right: unset;
    
    list-style: none;
    justify-content: space-around;
      
    
      
    }
  .chamber-navigation a {
    display: flex;
    min-width: 120px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
    font-size: 2rem;
    
  }
  .chamber-navigation a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  .chamber-navigation a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  .chamber-navigation .active{
    background-color:rgba(255, 255, 255, 0.5);
    
  }
  #main-title{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  #overview-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .centered{
    left: 15%;
    transform: translate(-50%, -50%);
  }
  #hero-text{
    position:absolute;
    font-size: 2rem;
    left:1rem;
    top:50%;
  }
    
  #card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .chamber-card{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #events{
    grid-column: 1/3;
    
    
  }
  #company-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #company-1{
    grid-column: 1/2;
  }
  #company-2{
    grid-column: 2/3;
  }
  #company-3{
    grid-column: 3/4;
  }
    
  .company-card{
    height: 300px;
    text-justify:auto;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0.5rem;
  }
  .company-info{
    font-size: 1rem;
    padding-top: 3rem;
  }
    
  footer{
      
      
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
      
  }
  footer p{
    font-size: 2rem;
  }
  footer p:hover{
    text-decoration: underline;
  }
    
    
}