@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Kaushan+Script&family=Roboto&display=swap');


body{
  background-color: #E9C46A;
  max-width: 1600px;
  margin: 0 auto;
}

header{
  background-color:#E76F51 ;
  display:flex;
  
    
    
}
#profile-image{
  padding-left: 25%;
}
#name{
  padding-left: 10%;
  padding-top: 2%;
  
}

#main-title{
  text-align: center;
  font-family: "Kaushan Script";
  color: #650059;
  font-size: 2.5em;
  
  text-justify:initial;
  padding-left: 5%;
}
#map-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
iframe{
  grid-column: 2/3 ;
  width:600px; 
  height:450px;
  border:0;
  padding-top: 6rem;

}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e7e279e8 ;
}

a {
  text-align: center;
    
  text-decoration: none;
  font-family: "roboto";
  font-weight: bold;
    
  font-size: 2em;
  padding: 35px;
  
}

li a:hover{
  background-color: #0D3B66 ;
  color:#E53D00;
  text-decoration: none;
}


nav a {
    
  color: #0D3B66;
  transition: all 1s ease-out;
  }
.card{
  
  font-family: "roboto";
  padding-left: 45%;
  padding-top: 5%;
  font-size: 1.5em;
  color: purple;
}
.assigment{
  font-family: "roboto";
  
  font-size: 1em;
  color: purple;
}
.assigment-li a{
  transition: all 2s ease-out;
}
.assigment-li a:hover{
  text-decoration: underline;
  background-color: unset;
  color:mediumblue;
  
}

footer{
  background-color:#E76F51;
  color:black;
  padding: 25px 25px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
}
footer p:hover{
  text-decoration: underline;
}



  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 900px){
  
  body{
    width: 100%;
  }
  header{
    max-height: 225px;
    height: auto;
  }
  iframe{
    width: 300px;
    height: 225px;
    padding-top: 10rem;
  }
  #menu {
    display:flex;
    font-size: 4rem;
    font-weight:700;
    text-decoration: none;
    
    justify-content: space-around;
    background-color: #E76F51;
    color:#0D3B66;
  }
  
  #menu::before {
    content: "≡";
    font-size: 3rem;
    justify-content: space-around;
    
    background-color: #E76F51 ;
  }
  
  nav {
    background-color: tomato;
  }
  .navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
  }
  
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
  }
  
  .navigation a:hover, navigation a:active {
    background-color: #0D3B66 ;
    color:#E53D00;
    text-decoration: none;
  }
  
  .show li {
    display: block;
  }
  
  #menu.show::before {
    content: "X";
  }
  
}



  
@media screen and (max-width: 900px) {
    
  body{
    width: 100%;
  }
  
  #menu {
    display:block;
    font-size: 3rem;
    font-weight:700;
    text-decoration:solid;
    justify-content: space-around;
    background-color:#E76F51 ;
    color:#0D3B66;
  }
  
  #menu::before {
    content: "≡";
    font-size: 3rem;
    text-decoration:solid;
    
  }
  
  nav {
    background-color: tomato;
  }
  .navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
  }
  
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all 0.5s ease-out;
    font-size: clamp(1rem, 2vmin, 1.5rem);
  }
  
  .navigation a:hover, navigation a:active {
    color:#E53D00 ;
    background-color: black;
    font-size: 1.2rem;
  }
  
  .show li {
    display: block;
  }
  
  #menu.show::before {
    content: "X";
  }
  
  footer{
    flex-direction: column;
  }
  
  .card{
    font-size: 1em;
    padding-left: 35%;
  }
  header{
    font-size: 0.8em;
    display: flex;
      
      
  }
  #profile-image{
    margin-left: 0;
    max-width:70px;
    max-height:140px;
    width: auto;
    height: auto;
    
  }
  #main-title{
    font-size: 2em;
  }
  #name{
    padding-left: 10%;
  }
    
  
    
   
  footer p{
    margin-top: 25px;
    font: 1em;
  }
  @media only screen and (max-width: 480px){
    header{
      
      
      max-height:  fit-content ;
    }
    #profile-image{
      padding-left: 0%;
    }
    #name{
      font-size: 1.4rem;
      padding-top: 1rem;
    }
      
  }
  @media only screen and (min-width: 768px){
    #menu::before{
      padding-left: 8rem;
    }
  }

}



@media only screen and (min-width: 900px) {
  .navigation {
    display: inline;
  }
  .navigation li {
    display:inline-block; /* change state in small view */
    
  }
  .navigation a {
    text-align: center;
    display:inline-table;
  }
  #menu {
    display: none;
  }
}
  
