@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Kaushan+Script&family=Roboto&display=swap');


body{
  background-color: #E9C46A;
  max-width: 1600px;
  margin: 0 auto;
}

header{
  background-color:#E76F51 ;
  display:flex;
    
    
}
#profile-image{
  padding-left: 25%;
}
#name{
  padding-left: 10%;
  padding-top: 2%;
  
}

#main-title{
  text-align: center;
  font-family: "Kaushan Script";
  color: #650059;
  font-size: 2.5em;
  
  text-justify:initial;
  padding-left: 5%;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: #e7e279e8;
}

nav a{
  text-align: center;
    
  text-decoration: none;
  font-family: "roboto";
  font-weight: bold;
    
  font-size: 2em;
  padding: 35px;
    
}

nav a:hover{
  background-color: #0D3B66 ;
  color:#E53D00;
  text-decoration: none;
}


nav a {
    
  color: #0D3B66;
  transition: all 1s ease-out;
  }
.card{
  
  font-family: "roboto";
  padding-left: 45%;
  padding-top: 5%;
  font-size: 1.5em;
  color: purple;
}


footer{
  background-color:#E76F51;
  color:#ffffff;
  padding: 25px 25px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
}
footer p:hover{
  text-decoration: underline;
}



  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



  
@media screen and (max-width: 900px) {
    
    nav, footer {
      flex-direction: column;
    }
    nav a {
      display: block;
      padding: 15px;
      font-size: 1.3em;
        
    }
    .card{
      font-size: 1em;
      padding-left: 35%;
    }
    header{
      font-size: 0.8em;
      display: block;
      
      
    }
    #profile-image{
      margin-left: 15%;
    }
    #main-title{
      font-size: 2em;
    }
    #name{
      padding-left: 28%;
    }
    
  
    
   
    footer p{
      margin-top: 25px;
      font: 1em;
    }
    

}

  
  
  
  