@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Kaushan+Script&family=Roboto&display=swap');




  
/* 100% Image Width on Smaller Screens */

  
  body{
    width: 100%;
    background-color: #E9C46A;
    margin: 0 auto;
  }
  header{
    max-height: 225px;
    height: auto;
    font-size: 0.8em;
    display: flex;
    background-color:#E76F51;
    position: relative;
  }
  #record-message{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 15rem;
    font-size: 2rem;
  }
  iframe{
    width: 300px;
    height: 225px;
    padding-top: 10rem;
  }
  #menu {
    display:flex;
    font-size: 4rem;
    font-weight:700;
    text-decoration: none;
    width: 50px;
    height: 50px;
    justify-content: space-around;
    background-color: #E76F51;
    color:#0D3B66;
    right: 20px;
    top: 25px;
    
    position: absolute;
  }
  
  #menu::before {
    content: "≡";
    font-size: 3rem;
    justify-content: space-around;
    
     ;
  }
  #mode {
    position: absolute;
    top: 2rem;
    right: 6rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
  }
  
  nav {
    background-color: tomato;
  }
  .navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
  }
  
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: 1.2rem;
  }
  
  
  
  .show li {
    display: block;
  }
  
  #menu.show::before {
    content: "X";
  }
  


  

    
  
  
  
  
  
  
  
  .navigation a:hover, navigation a:active {
    color:#E53D00 ;
    background-color: black;
    font-size: 1.2rem;
  }
  
  
  
  
  #menu.show::before {
    content: "X";
  }
  
  
  
  
  #profile-image{
    margin-left: 0;
    max-width:70px;
    max-height:140px;
    width: auto;
    height: auto;
    
  }
  main{
    display: flex;
    flex-direction: column;
    
  }
  
  #map-container{
    display: flex;
    flex-direction: column;
  }
  iframe{
    align-self: center;
    padding-top: 0%;
  }
  #main-title{
    font-size: 2em;
    text-align: center;
    font-family: "Kaushan Script";
    color: #650059;
    font-size: 2.5em;
  }
  #name{
    padding-left: 10%;
    padding-top: 2%;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
  }
    
  .hero {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    
    
  }
  .hero img {
    width: 100%;
    height: auto;
  }
  

  
  .herolabel {
    position: absolute;
    top: 10px;
    left: 10px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0,0,0,.75);
    padding: 0.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    
  }
  
  .herolabel p {
    margin: 0;
    padding: .05rem;
    font-weight: 700;
    font-size: 1rem;
    font-family:"kaushan", serif;
  }
    
   
  
  nav .active{
    background-color: rgba(255, 255, 255, 0.2);
    }
  .card{
    background-color:rgb(243, 173, 35);
    font-family: "roboto";
      
      
    font-size: 1.5em;
    color: purple;
    align-self: center;
    border-radius: 5%;
    border: 1px solid black;
    width: 90% ;
    margin-top: 5%;
    margin-bottom: 5%;
      
  }
  #information{
    height: 447px;
    margin-bottom:10% ;
  }
  .card-title{
    background-color:#a8e9e8;
    font-size: 1.5rem;
      
  }
  .assigment{
    font-family: "roboto";
      
    font-size: 1em;
    color: purple;
    
    padding: 5px;
  }
  .assigment-li{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .hover-light a{
    transition: all 2s ease-out;
  }
  .hover-light a:hover{
    text-decoration: underline;
    background-color: unset;
    color:darkblue;
      
  }
  .hover-dark a{
    color:rgb(255,255,255);
    transition: all 2s ease-out;
    
  }
  .hover-dark a:hover{
    text-decoration: underline;
    background-color: unset;
    color:red;
  }
  
  
  
  footer{
    background-color:#E76F51;
    color:black;
    padding: 25px 25px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    flex-direction: column;
  }
  footer p, #lastModified{
    font-family: "Roboto";
    margin-top: 25px;
    font: 1em;
  }
  #lastModified{
    margin-top:0px;
  }
  footer p:hover, #lastModified:hover{
    text-decoration: underline;
  }
  @media  screen and (max-width: 600px){
    #name{
        font-size: 1.2rem;
        padding-left: 4%;
    }
    #mode{
      font-size: 1.7rem;
      right:1.5rem;
      top: 0.5rem;
    }
    #menu{
      top:3rem ;
    }
    .assigment{
      font-size: 1rem;
    }
    .assigment-li{
      font-size: 1.2rem;
    }
    footer p, #lastModified{
      font-size: 1.2rem;
    }
  }






  